*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
  height: 100%;
  width: 100%;
}

.card-wrapper{
  display: flex;
  justify-content: center;
}

body{
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 100%;
}

.Card{
  background-color: white;
  border-radius: 5px;

  width: 250px;
  max-height: 370px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  border: 1px solid rgba(0, 0, 0, 0.171);
}

.img-wrapper{
  border-radius: 1px solid black;
}

.img-wrapper img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: inherit;
}

.desc{
  padding: 15px 10px;
  color: #091010;
}

.desc h1{
  line-height: 25px;
  margin: 5px 0;
}

.desc p{
  font-size: 16px;
  line-height: 15px;
  color: #a7a7a7;
}